version: 1.0.{build}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2017 

platform:
  - Any CPU

install:
    - ps: >-
        try {
            $cake = Invoke-WebRequest https://cakebuild.net/download/bootstrapper/windows -OutFile build.ps1 
        } catch {
            Write-Warning -Message "Error obtaining latest CakeBuild Bootstrapper"
            Write-Warning -Message $_.Exception.Message
            Write-Warning -Message "Switching to Backup-Bootstrapper"
            Copy-item .\build\build.ps1 .\
        }
        
build_script:
    - ps: .\build.ps1

test: off

cache:
    -  .\Sources\WiQuest\WIQuest.Web\packages -> .\Sources\WiQuest\WIQuest.Web\packages.config
    -  .\packages -> .\Sources\WiQuest\WIQuest.Web\packages.config

notifications:
  - provider: HipChat
    auth_token:
      secure: M5azVDnrp04fX9usXZVqdhcB/KGHrZ1Nv4GH+gu102w=
    room: RPS-TestRoom
    template: "{{#passed}}(successful){{/passed}}{{#failed}}(failed){{/failed}}<a href=""{{buildUrl}}"">Build {{projectName}} {{buildVersion}} {{status}}</a><br/>Commit <a href=""{{commitUrl}}"">{{commitId}}</a> by {{commitAuthor}} on {{commitDate}}: <i>{{commitMessage}}</i>
" 
