version: 1.0.{build}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2017 

platform:
  - Any CPU

environment:
  OCTO_API_KEY:
    secure: A/6Iyybo2hmkKL8/9zmxdNoxHFneMWE0AK0J4f3Viyw=

install:
    - ps: .\obtain_cake.ps1
        
build_script:
    - ps: .\build.ps1 -Target "Default" -Configuration "Debug"

test: off

cache:
    #-  .\Sources\WiQuest\WIQuest.Web\packages -> .\Sources\WiQuest\WIQuest.Web\packages.config
    -  .\packages -> .\Sources\WiQuest\WIQuest.Web\packages.config

notifications:
  - provider: HipChat
    auth_token:
      secure: M5azVDnrp04fX9usXZVqdhcB/KGHrZ1Nv4GH+gu102w=
    room: RPS-TestRoom
