
@{
    ViewBag.Title = "Danke";
}

<h2>Vielen Dank für Ihre Anmeldung!</h2>

<div class="formularResultat danke">

    <p>Wir schicken Ihnen in den nächsten Minuten einen Bestätigungs-Mail an die von Ihnen angegebene Email-Adresse.</p>

    <p><strong>Bitte drucken Sie das dort mitgeschickte <a href="https://get.adobe.com/de/reader/" title=''>Acrobat-Dokument</a> aus!</strong></p>

    <p><em>Aufnahme-Kommission der Fakultät für Design, München</em></p>

</div>


