@model WIQuest.Web.Services.GameStatistics


<div class="row">
    <div class="col-md-12">
        <h4>Fertig!!!</h4>
        <p>Von @Model.TotalQuestionCount Fragen wurden @Model.CorrectAnswerCount richtig beantwortet.</p>

        <a href="@Url.Action("Index")" class="btn btn-primary center-block">Zurück zur Startseite</a>
        
    </div>
</div>

