@model WIQuest.Web.Services.GameStatistics


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-check text-success"></i> Fertig</h4>
                <p>Von @Model.TotalQuestionCount Fragen wurden @Model.CorrectAnswerCount richtig beantwortet.</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>wiQuiz</strong> wurde und wird von Deinen Kommilitonen entwickelt. Es soll weiter ausgebaut und eingesetzt werden.
                            Deine Meinung ist uns wichtig. Sie wird uns bei der Weiterentwicklung sehr hilfreich sein.
                            Biite mach bei den Umfragen mit. Es dauert nicht lange.
                        </p>
                        <p><strong>Vielen Dank! Dein wiQuiz-Team</strong>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p>Ich habe <strong>wiQuiz</strong> zum ersten Mal verwendet. Ich möchte gerne bei der Evaluation mitmachen.</p>
                        <a href="http://w3.wi.hm.edu/umfrage/index.php/survey/index/sid/516897/lang/de" class="btn btn-primary center-block">Evaluation</a>
                    </div>
                    <div class="col-md-6">
                        <p>Ich kenne <strong>wiQuiz</strong> schon. Ich möchte gerne nochmal Feedback geben.</p>
                        <a href="http://w3.wi.hm.edu/umfrage/index.php/survey/index/sid/983977/lang/de" class="btn btn-info center-block">Feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



