
@{
    ViewBag.Title = "Kontakt";
}

<div class="row">

    <div class="well">
        <div class="pull-right"><img src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e8/Hochschule_Muenchen_Logo.svg/320px-Hochschule_Muenchen_Logo.svg.png" alt="HS München" style="width:200px;height:90px;"> </div>
        <h2>WI-Quest</h2>
        <h3><small>Studien-Orientierungstest für den Bachelorstudiengang Wirtschaftsingenieurwesen an der Hochschule München</small></h3>
        <h4>Kontakt</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Kontakt</h4>
            </div>
            <div class="panel-body">
                <p>
                    Vielen Dank für Ihre Anfrage
                </p>
            </div>
        </div>
    </div>
</div>


